<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Medina Of Spices</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <meta name="description" content="@ViewBag.MetaDescription">
    <meta name="keywords" content="@ViewBag.MetaKeywords">
    <link rel="canonical" href="@ViewBag.CanonicalURL" />
    <script type = 'text/javascript' >
        var appInsights=window.appInsights||function(config)
        {
            function r(config){ t[config] = function(){ var i = arguments; t.queue.push(function(){ t[config].apply(t, i)})} }
            var t = { config:config},u=document,e=window,o='script',s=u.createElement(o),i,f;for(s.src=config.url||'//az416426.vo.msecnd.net/scripts/a/ai.0.js',u.getElementsByTagName(o)[0].parentNode.appendChild(s),t.cookie=u.cookie,t.queue=[],i=['Event','Exception','Metric','PageView','Trace','Ajax'];i.length;)r('track'+i.pop());return r('setAuthenticatedUserContext'),r('clearAuthenticatedUserContext'),config.disableExceptionTracking||(i='onerror',r('_'+i),f=e[i],e[i]=function(config, r, u, e, o) { var s = f && f(config, r, u, e, o); return s !== !0 && t['_' + i](config, r, u, e, o),s}),t
        }({
            instrumentationKey:'486fff41-0901-41b9-be39-47ee49704377'
        });
        
        window.appInsights=appInsights;
        appInsights.trackPageView();
    </script>
</head>
<body>
   
    <!-- header -->

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="head-top">

        </div>
        <div class="header">

            <div class="container">

                <div class="navbar-header">
                    <div class="logo">
                        <a href="@Url.Action("Index", "Home")"><img src="@Url.Content("~/Content/Images/MOSLogo.png")" class="img-responsive" alt=""></a>
                    </div>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @*@Html.ActionLink("Medina Of Spices", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav head-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Index", "Email")</li>
                    </ul>
                </div>

                @*<div class="logo">
                    <a href="@Url.Action("Index", "Home")"><img src="@Url.Content("~/Content/Images/MOSLogo.png")" class="img-responsive" alt=""></a>
                </div>
                <div class="header-left">
                    <div class="head-nav">
                        <span class="menu"> </span>
                        <ul>
                            
                            <li> @Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>

                            <div class="clearfix"> </div>
                        </ul>
                        <!-- script-for-nav -->
                        <script>
                            $("span.menu").click(function () {
                                $(".head-nav ul").slideToggle(300, function () {
                                    // Animation complete.
                                });
                            });
                        </script>
                        <!-- script-for-nav -->
                    </div>
                    <div class="header-right1">
                        <div class="cart box_1">
                            <a href="checkout.html">
                                <h3> <span class="simpleCart_total"> $0.00 </span> (<span id="simpleCart_quantity" class="simpleCart_quantity"> 0 </span> items)<img src="images/bag.png" alt=""></h3>
                            </a>
                            <p><a href="javascript:;" class="simpleCart_empty">empty card</a></p>
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="clearfix"> </div>*@
            </div>
        </div>
    </div>
    <!-- header -->

    <div class="container-fluid body-content">
        @RenderBody()
        @*<hr />*@
        <footer>
            <!-- footer-->
            <div class="footer">
                <div class="container">
                    <div class="footer-left">
                        <p>&copy; @DateTime.Now.Year - Medina Of Spices</p>
                    </div>
                    <div class="footer-right">
                        <ul>
                            <li><a href="#"><i class="fbk"></i></a></li>
                            <li><a href="#"><i class="googpl"></i></a></li>
                            <li><a href="#"><i class="link"></i></a></li>
                            <li><a href="#"><i class="rss"></i></a></li>
                            <li><a href="#"><i class="twt"></i></a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- footer-->

        </footer>

        

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
